#container{
    width: 50%;
    background-color: white;
    margin: auto;
    margin-top: 10%;
    box-shadow: 1px 1px 10px 0px;
}
#form{
    width: 90%;
    margin: auto;
}
h4{
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
#hr{
    padding: 1px;
}
#button{
  padding-bottom: 30px;
}
#btn{
    font-weight: bold;
    font-size: 20px;
    width: 100%;
}
